@model HoNgocHai_2122110473_ASP.NET.Models.User

<section class="section-content padding-y">
    <!-- ============================ COMPONENT REGISTER   ================================= -->
    <div class="card mx-auto" style="max-width:520px; margin-top:40px;">
        <article class="card-body">
            <header class="mb-4"><h4 class="card-title">Sign up</h4></header>
            <form asp-action="Register" asp-controller="Users" method="post">
                @Html.AntiForgeryToken()

                <div class="form-group">
                    @Html.LabelFor(m => m.HoTen, "Full name")
                    @Html.TextBoxFor(m => m.HoTen, new { @class = "form-control", placeholder = "" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Email, "Email")
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.DienThoai, "Phone")
                    @Html.TextBoxFor(m => m.DienThoai, new { @class = "form-control", placeholder = "" })
                </div>

                <div class="form-group">
                    <label class="custom-control custom-radio custom-control-inline">
                        @Html.RadioButtonFor(m => m.GioiTinh, true, new { @class = "custom-control-input", id = "genderMale" })
                        <span class="custom-control-label"> Nam </span>
                    </label>
                    <label class="custom-control custom-radio custom-control-inline">
                        @Html.RadioButtonFor(m => m.GioiTinh, false, new { @class = "custom-control-input", id = "genderFemale" })
                        <span class="custom-control-label"> Nữ </span>
                    </label>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Username, "Username")
                    @Html.TextBoxFor(m => m.Username, new { @class = "form-control", placeholder = "" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.MatKhau, "Password")
                    @Html.PasswordFor(m => m.MatKhau, new { @class = "form-control" })
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Create</button>
                </div>
            </form>

        </article><!-- card-body.// -->
    </div> <!-- card .// -->
    <p class="text-center mt-4">Have an account? <a href="@Url.Action("Register", "Users")">Log In</a></p>
    <br><br>
    <!-- ============================ COMPONENT REGISTER  END.// ================================= -->
</section>
