@model List<HoNgocHai_2122110473_ASP.NET.Models.HangHoa>

@{
    ViewBag.Title = "Home Page";
}

<section class="section-content padding-y">
    <div class="container">


        <!-- ============================  FILTER TOP  ================================= -->
        <div class="card mb-3">
            <div class="card-body">
                <hr>
                <div class="row">
                    <div class="col-md-2">Filter by</div> <!-- col.// -->
                    <div class="col-md-10">
                        <ul class="list-inline">
                            <li class="list-inline-item mr-3 dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">   Supplier type </a>
                                <div class="dropdown-menu p-3" style="max-width:400px;">
                                    <label class="form-check">
                                        <input type="radio" name="myfilter" class="form-check-input"> Good supplier
                                    </label>
                                    <label class="form-check">
                                        <input type="radio" name="myfilter" class="form-check-input"> Best supplier
                                    </label>
                                    <label class="form-check">
                                        <input type="radio" name="myfilter" class="form-check-input"> New supplier
                                    </label>
                                </div> <!-- dropdown-menu.// -->
                            </li>
                            <li class="list-inline-item mr-3 dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">  Country </a>
                                <div class="dropdown-menu p-3">
                                    <label class="form-check"> 	 <input type="checkbox" class="form-check-input"> China    </label>
                                    <label class="form-check">   	 <input type="checkbox" class="form-check-input"> Japan      </label>
                                    <label class="form-check">    <input type="checkbox" class="form-check-input"> Uzbekistan  </label>
                                    <label class="form-check">  <input type="checkbox" class="form-check-input"> Russia     </label>
                                </div> <!-- dropdown-menu.// -->
                            </li>
                            <li class="list-inline-item mr-3 dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Feature</a>
                                <div class="dropdown-menu">
                                    <a href="" class="dropdown-item">Anti backterial</a>
                                    <a href="" class="dropdown-item">With buttons</a>
                                    <a href="" class="dropdown-item">Extra safety</a>
                                </div>
                            </li>
                            <li class="list-inline-item mr-3"><a href="#">Color</a></li>
                            <li class="list-inline-item mr-3"><a href="#">Size</a></li>
                            <li class="list-inline-item mr-3">
                                <div class="form-inline">
                                    <label class="mr-2">Price</label>
                                    <input class="form-control form-control-sm" placeholder="Min" type="number">
                                    <span class="px-2"> - </span>
                                    <input class="form-control form-control-sm" placeholder="Max" type="number">
                                    <button type="submit" class="btn btn-sm btn-light ml-2">Ok</button>
                                </div>
                            </li>
                            <li class="list-inline-item mr-3">
                                <label class="custom-control mt-1 custom-checkbox">
                                    <input type="checkbox" class="custom-control-input">
                                    <div class="custom-control-label">
                                        Ready to ship
                                    </div>
                                </label>
                            </li>
                        </ul>
                    </div> <!-- col.// -->
                </div> <!-- row.// -->
            </div> <!-- card-body .// -->
        </div> <!-- card.// -->
        <!-- ============================ FILTER TOP END.// ================================= -->

        <header class="mb-3">
            <div class="form-inline">
                <strong class="mr-md-auto">32 Items found </strong>
                <select class="mr-2 form-control">
                    <option>Latest items</option>
                    <option>Trending</option>
                    <option>Most Popular</option>
                    <option>Cheapest</option>
                </select>
                <div class="btn-group">
                    <a href="page-listing-grid.html" class="btn btn-light active" data-toggle="tooltip" title="List view">
                        <i class="fa fa-bars"></i>
                    </a>
                    <a href="page-listing-large.html" class="btn btn-light" data-toggle="tooltip" title="Grid view">
                        <i class="fa fa-th"></i>
                    </a>
                </div>
            </div>
        </header><!-- sect-heading -->

        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-3">
                    <a href="@Url.Action("Details", "Products", new { id = item.MaHH })" class="item">
                        <figure class="card card-product-grid">
                            <div class="img-wrap">
                                <img src="~/Content/images/items/@item.Hinh">
                            </div> <!-- img-wrap.// -->
                            <a href="~/App_Data/"></a>
                            <figcaption class="info-wrap">

                                <header>@item.TenHH</header>
                                <p class="text-muted mb-2">@item.MoTa</p>
                                <div class="price-wrap">
                                    @if (item.GiamGia > 0)
                                    {
                                        var discountedPrice = item.DonGia - (item.DonGia * item.GiamGia);
                                        <span class="price">@discountedPrice.Value.ToString("C0")</span>
                                        <small class="text-muted"><s>/@item.DonGia</s></small>
                                    }
                                    else
                                    {
                                        <span class="price">@item.DonGia</span>
                                    }
                                </div> <!-- price-wrap.// -->
                                <p class="text-muted">@item.MoTaDonVi</p>

                                <hr>
                                <label class="custom-control mb-3 custom-checkbox">
                                    <input type="checkbox" class="custom-control-input">
                                    <div class="custom-control-label">
                                        So sánh
                                    </div>
                                </label>

                                <a href="#" class="btn btn-outline-primary"> <i class="fa fa-envelope"></i> Liên hệ nhà cung cấp </a>
                            </figcaption>
                        </figure>
                        </a>
                </div> <!-- col.// -->
            }



        </div> <!-- row end.// -->


        <nav class="mb-4" aria-label="Page navigation sample">
            <ul class="pagination">
                <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </nav>


        <div class="box text-center">
            <p>Did you find what you were looking for？</p>
            <a href="" class="btn btn-light">Yes</a>
            <a href="" class="btn btn-light">No</a>
        </div>

    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
<!-- ========================= SECTION SUBSCRIBE  ========================= -->
<section class="padding-y-lg bg-light border-top">
    <div class="container">

        <p class="pb-2 text-center">Delivering the latest product trends and industry news straight to your inbox</p>

        <div class="row justify-content-md-center">
            <div class="col-lg-4 col-sm-6">
                <form class="form-row">
                    <div class="col-8">
                        <input class="form-control" placeholder="Your Email" type="email">
                    </div> <!-- col.// -->
                    <div class="col-4">
                        <button type="submit" class="btn btn-block btn-warning"> <i class="fa fa-envelope"></i> Subscribe </button>
                    </div> <!-- col.// -->
                </form>
                <small class="form-text">We’ll never share your email address with a third-party. </small>
            </div> <!-- col-md-6.// -->
        </div>


    </div>
</section>

